# 1) Ignore everything by default
*

# 2) Do not ignore the .gitignore file itself
!.gitignore

# 3) Always ignore .idea
.idea/
.idea/**

# 4) Always ignore vasptools.egg-info
vasptools.egg-info/
vasptools.egg-info/**

# 5) Unignore the vasptools directory so we can selectively include files inside it
!vasptools/
!vasptools/**/

# 6) Ignore everything in vasptools again, then unignore *.py and *.txt
vasptools/*
!vasptools/**/*.py
!vasptools/**/*.txt
