# Ignore everything
*

# Always ignore .idea directory
.idea/
.idea/**

# Do NOT ignore the .gitignore file itself
!.gitignore

# Unignore directories so that Git can see inside them
!*/

# Unignore all .py files recursively
!**/*.py
!**/*.txt
